.card {
  max-width: 400px;
  margin-top: 20px;
  cursor: pointer;
}

.card-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.paper{
  max-width: 420px;
  height: auto;
  background-color:white;

}
.centered{
  margin: 0 auto;
  width: 25%;
}

.title{
  font-family:'Staatliches', 'cursive';
}

.cardTextHeader{
  color:whitesmoke;
  font-weight:900;
  font-size: 25px;

}
.cardTextContent{
  color:whitesmoke;
  font-weight:450;
  font-size: 15px;

}
.icon{

   width:50%;
   height: auto;


}
.iconHeader{
  width: 100px;
}

/* Refund Button */
.RefundButton{
  font-weight:450;
  font-size: 20px;
  color:red;

}

.RefundButton:hover{
  font-size: 22px;
  background-color: DodgerBlue;
  color: white;
  border-radius: 20px;
  transition:color 5s, font-size 5s,background-color 5s,border-radius 5s;
  -webkit-transition:color 5s, font-size 5s,background-color 5s,border-radius 5s;
}


/* Change Button */
.ChangeButton{
  font-weight:450;
  font-size: 20px;
  color:Gold;
}
.ChangeButton:hover{
  font-size: 22px;
  background-color: DodgerBlue;
  color: white;
  border-radius: 20px;
  transition:color 5s, font-size 5s,background-color 5s,border-radius 5s;
  -webkit-transition:color 5s, font-size 5s,background-color 5s,border-radius 5s;
}

/* Check-IN */
.CheckInButton{
  font-weight:450;
  font-size: 15px;
  color:green;
}
.CheckInButton:hover{
  font-size: 22px;
  background-color: DodgerBlue;
  color: white;
  border-radius: 20px;
  transition:color 5s, font-size 5s,background-color 5s,border-radius 5s;
  -webkit-transition:color 5s, font-size 5s,background-color 5s,border-radius 5s;


}
.info{
  font-weight:650;
  color:white;
  font-size: 20px;

}

.backIcon{
  cursor: pointer;
}

.path{
  color:white;


  transform: scale(3);

}



/* Animated Type */


.animated1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation: mymove 3s ;
  animation-iteration-count: 1;
}

.animated2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation: mymove 6s 1;
  /* animation: mymove 6s infinite; */

}

.animated3{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation: mymove 2s 1;

}

.animated4{

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation: mymove 5s ;
  animation-iteration-count: 1;

}


/*RUBBER BAND*/

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

@keyframes rubberBand{
0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
}
40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
}
50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
}
65% {
  -webkit-transform: scale3d(.95, 1.05, 1);
  transform: scale3d(.95, 1.05, 1);
}
75% {
  -webkit-transform: scale3d(1.05, .95, 1);
  transform: scale3d(1.05, .95, 1);
}

100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

}


/*TADA*/

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;


}



@keyframes tada{

  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
10%, 20% {
  -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
}
30%, 50%, 70%, 90% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
}
40%, 60%, 80% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}
100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
}



/*SWING*/


.swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}


@keyframes swing{
20% {
  -webkit-transform: rotate3d(0, 0, 1, 15deg);
  transform: rotate3d(0, 0, 1, 15deg);
}
40% {
  -webkit-transform: rotate3d(0, 0, 1, -10deg);
  transform: rotate3d(0, 0, 1, -10deg);
}
60% {
  -webkit-transform: rotate3d(0, 0, 1, 5deg);
  transform: rotate3d(0, 0, 1, 5deg);
}
80% {
  -webkit-transform: rotate3d(0, 0, 1, -5deg);
  transform: rotate3d(0, 0, 1, -5deg);
}
100% {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
}
}


/*FADE IN DOWN*/


.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDown{

  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}




/*ZOOM OUT*/

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}

@keyframes zoomOut{
0% {
  opacity: 1;
}
50% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
}
100% {
  opacity: 0;
}
}

/* test */

